body {
	font-family: Abel;
}

header {
	background-color: #1f1f1f;
	height: 150px;
}

.day-details {
	float: right;
	color: #fff;
	padding-top: 40px;
	padding-right: 100px;
	font-size: 50px;
	font-family: Yellowtail;
}

.login-logo {
	color: #fff;
	padding-top: 40px;
	padding-left: 100px;
	font-size: 50px;
	font-family: Yellowtail;
}

.login-form {
	padding-top: 50px;
	color: #646262;
}

.username-lbl {
	font-size: 35px;
	padding-left: 10px;
}

.password-lbl {
	font-size: 35px;
	padding-left: 10px;
}

input {
	width: 300px;
	height: 50px;
	border: 1px solid #707070;
}

.username-inpt {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding: 10px;
}

.password-inpt {
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 10px;
}

.login-btn {
	background-color: transparent;
	border: 1px solid #707070;
	width: 200px;
	height: 50px;
	border-radius: 50px;
	margin-left: 50px;
	margin-top: 20px;
	font-size: 20px;
}

.sign-up {
	font-size: 25px;
	padding-top: 50px;
}

.vl {
  border-left: 5px solid #1f1f1f;
  height: 545px;
	position: absolute;
	top: 150px;
	left: 50%;
}

.vl2 {
  border-left: 5px solid #1f1f1f;
  height: 800px;;
	position: absolute;
	top: 150px;
	left: 50%;
}

.img-holder {
	position: fixed;
	top: 33%;
	left: 60%;
}

img {
	width: 70%;
	height: 70%;
}

.hash-one {
	position: absolute;
	top: 110%;
	left: -20%;
	font-size: 30px;
}

.hash-two {
	position: absolute;
	top: 110%;
	left: 65%;
	font-size: 30px;
}

a {
	color: black;
}

a:hover {
	text-decoration: none;
}

.emp-profile{
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}
